<ul class="errors">
    <li th:if="${errActivationCode}"><span th:text="${errActivationCodeText}"></span></li>
    <li th:if="${errAlreadySubscribed}"><span th:text="${errAlreadySubscribedText}"></span></li>
    <li th:if="${errBwlLimit}"><span>У вас подключен запрет доступа к сервисам контент-провайдеров.</span><br/><span>Управление услугой в личном кабинете на сайте my.beeline.ru</span></li>
    <li th:if="${errCaptcha}"><span th:text="${errCaptchaText}"></span></li>
    <li th:if="${errCaptchaLimit}"><span th:text="${errCaptchaLimitText}"></span></li>
    <li th:if="${errFraudLimit}"><span>Превышено ограничение количества запросов.</span></li>
    <li th:if="${errFrequent}"><span th:text="${errFrequentText}"></span></li>
    <li th:if="${errGeneric}"><span th:text="${errGenericText}"></span></li>
    <li th:if="${errIncorrectRequest}"><span th:text="${errIncorrectRequestText}"></span></li>
    <li th:if="${errInvalidMsisdnFormat}"><span th:text="${errInvalidMsisdnFormatText}"></span></li>
    <li th:if="${errMsisdn}"><span th:text="${errMsisdnText}"></span></li>
    <li th:if="${errMaxRequests}"><span th:text="${errMaxRequestsText}"></span></li>
    <li th:if="${errNoMoney}"><span th:text="${errNoMoneyText}"></span></li>
    <li th:if="${errParentBlocked}"><span th:text="${errParentBlockedText}"></span></li>
    <li th:if="${errParentDeny}"><span th:text="${errParentDenyText}"></span></li>
    <li th:if="${errServiceUnavailable}"><span th:text="${errServiceUnavailableText}"></span></li>
    <li th:if="${errSessionNotFound}"><span th:text="${errSessionNotFoundText}"></span></li>
    <li th:if="${errSmsCodeLimit}"><span th:text="${errSmsCodeLimitText}"></span></li>
    <li th:if="${errSubscriberNotActive}"><span th:text="${errSubscriberNotActiveText}"></span></li>
    <li th:if="${errChargeControlDeny}"><span th:text="${errChargeControlDenyText}"></span></li>
</ul>
