<div th:if="${isWebRequest} == true" th:remove="tag">
<tr th:if="${cpaSubscriptionChargePeriodPriceCodePrice != null}">
    <td class="label-column">
        <label for="tryUserCharge">Абонентская плата пробного периода</label>
    </td>
    <td>
        <span id="tryUserCharge" th:text="${cpaSubscriptionChargePeriodPriceCodePrice} + ' руб.'">123 руб.</span>
    </td>
</tr>
<tr th:if="${cpaSubscriptionPeriodStr != null}">
    <td class="label-column">
        <label for="trySubscribePeriod">Пробный период</label>
    </td>
    <td>
        <span id="trySubscribePeriod" th:text="${cpaSubscriptionPeriodStr}">4 дня</span>
    </td>
</tr>
<tr th:if="${cpaTnbTryEndDate != null}">
    <td class="label-column">
        <label for="trySubscribeDate">Пробный период</label>
    </td>
    <td>
        <span id="trySubscribeDate" th:text="'до ' + ${formatter.formatDate(cpaTnbTryEndDate, 'dd.MM.yyyy')}">до 10.11.2013</span>
    </td>
</tr>
<tr th:if="${buy_cpaSubscriptionChargePeriodPriceCodePrice != null}">
    <td class="label-column">
        <label for="userCharge">Абонентская плата за подписку</label>
    </td>
    <td>
        <span id="userCharge" th:text="${buy_cpaSubscriptionChargePeriodPriceCodePrice} + ' руб. после окончания бесплатного периода'">32 руб.</span>
    </td>
</tr>
<tr th:if="${buy_cpaSubscriptionChargePeriod != null and buy_cpaSubscriptionChargePeriod == 86400000}">
    <td class="label-column">
        <label for="chargePeriod">Периодичность списания</label>
    </td>
    <td>
        <span id="chargePeriod">сутки</span>
    </td>
</tr>
<tr th:if="${buy_cpaSubscriptionChargePeriodStr != null and buy_cpaSubscriptionChargePeriod != 86400000}">
    <td class="label-column">
        <label for="chargePeriod">Периодичность списания</label>
    </td>
    <td>
        <span id="chargePeriod" th:text="${buy_cpaSubscriptionChargePeriodStr}">3 дня</span>
    </td>
</tr>
<tr th:if="${buy_cpaSubscriptionPeriodStr != null}">
    <td class="label-column">
        <label for="subscribePeriod">Срок действия подписки</label>
    </td>
    <td th:with="now=${#dates.createNow()}">
        <span id="subscribePeriod" th:text="${#dates.format(#dates.create(#dates.year(now),#dates.month(now),#dates.day(now),#dates.hour(now),#dates.minute(now),#dates.second(now),buy_cpaSubscriptionPeriod), 'dd.MM.yyyy HH:mm:ss')}">4 дня</span>
    </td>
</tr>
<tr th:if="${buy_cpaSubscriptionPeriodStr == null}">
    <td class="label-column">
        <label for="subscribePeriod">Период действия</label>
    </td>
    <td>
        <span>бессрочная</span>
    </td>
</tr>
</div>
<tr th:if="${partnerContact != null}">
    <td class="label-column">
        <label for="partnerContact">Контакты провайдера</label>
    </td>
    <td>
        <span id="partnerContact" th:text="${partnerContact}">контакт провайдера для абонента</span>
    </td>
</tr>
