<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Билайн</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <div th:replace="fragment/styles"></div>
    </head>
    <body>
        <form method="POST" action="/landing" th:attr="action=@{wait_parent_aoc.html(sessionId=${session_id})}" name="mainFrm">
            <div class="content_block_top" th:classappend="${!isWebRequest} ? 'wap'"></div>

            <div class="content_block_middle" th:classappend="${!isWebRequest} ? 'wap'">
                <div th:replace="fragment/errors"></div>
                <br/>
                <br/>

                <input id="parentMsisdn" type="hidden" name="parentMsisdn" th:value="${parentMsisdn}" />
                <input type="hidden" name="requestId" th:value="${requestId}"/>

                <div th:if="${pcAwaitParent == null}" class="label-text">
                    <div th:if="${isWebRequest} == true">
                        У вас подключена услуга Родительский контроль.
                        Требуется подтверждение заказа контента от абонента
                        <span th:text="${parentMsisdn}"></span>.
                        После получения SMS с подтверждением, нажмите кнопку "Продолжить".
                    </div>

                    <div th:if="${isWebRequest} == false" class="label-text">
                        У вас подключена услуга Родительский контроль.
                        Требуется подтверждение заказа контента от абонента
                        <span th:text="${parentMsisdn}"></span>.
                        После получения SMS с подтверждением, перейдите по ссылке в SMS.
                    </div>
                </div>

                <div th:if="${pcAwaitParent} == true" class="label-text">
                    <div th:if="${isWebRequest} == true">
                        Ожидайте подтверждения от абонента
                        <span th:text="${parentMsisdn}"></span>
                        После получения SMS с подтверждением, нажмите кнопку "Продолжить".
                    </div>

                    <div th:if="${isWebRequest} == false">
                        Ожидайте подтверждения от абонента
                        <span th:text="${parentMsisdn}"></span>
                        После получения SMS с подтверждением, перейдите по ссылке в SMS.
                    </div>
                </div>

                <br/>
                <br/>

                <div class="button-group" th:if="${isWebRequest == true or pcAwaitParent == null}">
                    <button id="submitBtn" class="btn" type="submit" th:classappend="${!isWebRequest} ? 'wap'">Продолжить</button>
                </div>
            </div>

            <div class="content_block_bottom" th:classappend="${!isWebRequest} ? 'wap'">
                <br/>
                <br/>
                <br/>
            </div>
        </form>
    </body>
</html>
